$columns-count: 1;
$gutter: 0;

@each $size in $breakpoint-classes {
  @if type-of($grid-column-count) == "number" {
    $columns-count: $grid-column-count;
  } @else if (contains(map_keys($grid-column-count), $size)) {
    $columns-count: map_get($grid-column-count, $size);
  }

  @include breakpoint($size up) {
    --grid-columns: #{$columns-count};

    .#{$size}-full {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    @for $i from 1 through $columns-count {
      .#{$size}-x-#{$i} {
        grid-column-start: $i;
      }

      .#{$size}-#{$i} {
        @include grid-column($i);
      }

      .#{$size}-#{$grid-name}-#{$i} {
        @if map_has_key($grid-column-gutter, $size) {
          $gutter: map_get($grid-column-gutter, $size);
        }
        --grid-gutter: #{$gutter};
        @include subgrid($i);

        &.#{$grid-name} {
          --grid-columns: #{$i};
        }
      }
    }
  }
}

.#{$grid-container-name} {
  @include grid-container;
}

.#{$grid-name} {
  @include grid;
}

.#{$grid-name}-wrapper {
  @include grid-wrapper;

  &--trim-left {
    @include grid-wrapper(true, false);
  }

  &--trim-right {
    @include grid-wrapper(false, true);
  }

  &--trim {
    @include grid-wrapper(false, false);
  }
}
